/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
	overflow-x: hidden
	;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	
}

li > a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.listeFiltre{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 15px;
	margin-bottom: 30px;;
}

li{
	width: auto;
	display: flex;
	justify-content: center;
}

.bouton-filtre{
	width: 100%;
	height: 37px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	color: #1D6154;
	background-color: white;
}

.active{
	background-color: #1D6154;
	color: white;
}

.js-div-admin{
	height: fit-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 30px;
}
.js-lien-div-admin{
	text-decoration: none;
	color: black;
	font-size: 14px;

}
.fa-pen-to-square{
	margin-right: 10px;
}

.js-mode-edition-admin{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 30px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
}
/***********************************************************CSS PAGE LOG IN**********************************************/
.body-log-in{
	height: 100vh;
	background-color: #FFFEF8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main-log-in{
	height: 70%;
}

.titre-log-in{
	margin-bottom: 45px;
	display: flex;
	justify-content: center;
}

.form-log-in{
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.div-input{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 25px;
}

.titre-input{
	font-family: 'Work Sans';
	color: #3d3d3d;
	font-weight: bold;
}

.input{
	width: 379px;
	height: 45px;
	background-color: white;
	border: 2px solid #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.btn-se-connecter{
	padding: 0;
	width: 179px;
	height: 36px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: #1D6154;
	margin-top: 15px;
	color: white;
	font-size: 14px;
}

.lien-mot-de-passe-oublie{
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: black;
	text-decoration: underline;
	text-underline-offset: 3px;
	font-size: 14px;
	font-family: "Work Sans";
}

.lien-mot-de-passe-oublie:hover{
	color: #B1663C;
}

.msg-erreur{
	color: red;
	font-style: italic;	
}
/*******************************************CSS version admin et modal*********************************************************************/
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.8);
}

.div-modal{
	width: 630px;
	height: 688px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
	background-color: #fff;
}

.bouton-fermer-modal{
	width: 90%;
	display: flex;
	justify-content: right;
	border: none;
	color: black;
	background-color: white;
}

.titre-div-modal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	margin-top: 30px;
	font-size: 26px;
	font-weight: 400;
	font-family: "Work Sans";
}

.gallery-modal{
	height: 80%;
	width: 90%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	border-bottom: 2px solid grey;
	overflow-y: scroll;
}

.gallery-modal * {
	height: 103px;
	width: 77px;
}

.gallery-modal * figcaption {
	display: none;
}

.gallery-modal * img {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bouton-ajouter-photo{
	width: 50%;
	height: 50px;
	margin-top: 30px;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: white;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
}

.relative{
	position: relative;
}

.bouton-supprimer{
	width: 17px;
	height: 17px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: initial;
	border-radius: 3px;
	background-color: black;
	color: white;
	position: absolute;
	top: 7px;
	right: 7px;
}

.bouton-supprimer > .fa-trash-can{
	display: initial;	
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: 0;
	font-size: 10px;
}
/**************************************************Modal Ajout Photo*************************************/
.bouton-retour-fermer{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bouton-retour-ap{
	width: fit-content;
	border: none;
	color: black;
	background-color: white;
	font-weight: bold;
}

.bouton-fermer-ap{
	width: fit-content;
	border: none;
	color: black;
	background-color: white;
}

.titre-ajout-photo{
	margin-top: 0;
	margin-bottom: 20px;
}

.form-ajouter-photo{
	height: 70%;
	width: 80%;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: #B3B3B3 2px solid;
}

.zone-ajout-photo{
	position: relative;
	height: 300px;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 5px;
	background-color: #E8F1F6;
	margin-bottom: 30px;
	
}

.fa-image{
	font-size: 60px;
	color: #CBD6DC;
}

.preview{
	height: 100%;
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-self: center;
	justify-self: center;
	z-index: 1;
}

.ajouter-photo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 45px;
	width: 200px;
	border: 1px solid #CBD6DC;
	border-radius: 30px;
	background-color: #CBD6DC;
}
.bkg-image-input{
	background-color: #E8F1F6;
	border: initial;

}
.titre-ajouter-photo{
	color: #306685;
}

.input-ajouter-photo{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 2;
}

.test{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 40px;
}

.placeholder{
	height: 51px;
	border: 1px solid white;
	box-shadow: 0px 4px 14px 0px #00000017;
	color: #444444;
}

.bouton-valider{
	width: 50%;
	height: 50px;
	margin-top: 30px;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	border: none;
	border-radius: 60px;
	background-color: #A7A7A7;
	color: white;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
}

.valide{
	background-color: #1D6154;	
}

.hide{
	display: none;
}
